@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#appearance-tab {
    .preview__3e443 {
        background: $bg;
        @include boxes.inset;
    }

    .presets__67a11 {
        gap: 8px;

        .themeSelection__36dee {
            box-shadow: none;
            @include boxes.clickable;

            &.selected__36dee {
                @include boxes.inset;
            }

            &.darkIcon__36dee {
                background: $black;
            }
        }

        .selectionCircle__36dee {
            display: none;
        }
    }
}
