@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Connections
.connectContainer_c7f964 {
    @include boxes.box;
    padding: 8px;

    .connectionsContainer_c7f964 {
        margin-top: 4px;
        gap: 0;

        .inner__02fc8,
        .accountAddInner_c7f964 {
            @include boxes.clickable;
        }
    }
}

.connectionList_c7f964 {
    grid-gap: 0;

    .connection_c7f964 {
        @include boxes.box;
        padding: 0;
        margin-bottom: 0;

        .connectionHeader_c7f964 {
            padding: 8px;

            .connectionDelete_c7f964 {
                margin: 0;
                align-self: flex-start;

                svg {
                    height: 24px;
                    width: 24px;
                    @include boxes.clickable;
                }
            }
        }

        .upsellWrapper_c7f964 {
            padding: 8px;

            .container-QlmnKJ {
                @include boxes.box;
                padding: 8px;
            }
        }

        .metadataContainer_c7f964 {
            padding: 0 8px;
            margin: 0;
        }

        .connectionOptionsWrapper_c7f964 {
            padding: 8px;

            .connectionOptions_c7f964 {
                .connectionOptionSwitch_c7f964 {
                    margin-bottom: 0px;
                    padding: 0;
                }
            }
        }
    }
}
