@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// Overlay notification position
.wrapper_e03935 {
    border: 2px solid $darkblue;
    background: transparent;

    .option_e03935 {
        @include boxes.clickable($position: absolute);
        background: $grey;

        &.selected_e03935,
        &:hover {
            background-color: $darkblue;
            box-shadow: none;
        }
    }
}
