@use "../../../top/vars" as *;

#library-inventory-tab {
    .codeRedemptionInput__3514e {
        margin-right: 0;
        .input__0f084 {
            height: 100%;
        }
    }

    .heading-md-semibold__7cb23 {
        margin-top: 8px;
    }
}

.emptyState_d4883c {
    .emptyStateHeader_d4883c,
    .emptyStateSubtext_d4883c {
        color: $black;
    }
}
