@forward "./myaccount";
@forward "./profiles";
@forward "./privacyandsafety";
@forward "./authorisedapps";
@forward "./devices";
@forward "./connections";

@forward "./nitro";
@forward "./serverboost";
@forward "./subscriptions";
@forward "./giftinventory";
@forward "./billing";

@forward "./appearance";
@forward "./voiceandvideo";
@forward "./keybinds";

@forward "./registeredgames";
@forward "./gameoverlay";

@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;
@use "../../../top/channellist-css" as channels;

// User settings menu
.standardSidebarView__23e6b {
    padding-top: $title-height;
    margin-bottom: $window-bottom + 46px;

    // Unsaved changes
    .container_fcf29c {
        @include boxes.box;
        background: $grey !important;

        .message_fcf29c,
        .contents__201d5 span {
            color: $black !important;
        }
    }

    .sidebarRegion__23e6b {
        @include channels.vars;
        flex-grow: 0;

        .sidebar__23e6b {
            padding: 0;
        }

        .separator_b3f026 {
            display: none;
        }

        .header_b3f026 {
            margin-top: 12px;
        }
    }

    .contentRegionShownSidebar__23e6b {
        justify-content: center;

        .contentColumnDefault__23e6b,
        .contentColumnWide__23e6b {
            padding: 10px;
            @include boxes.box;
        }

        // Close settings button
        .toolsContainer__23e6b {
            padding-top: 20px;
            margin-right: 0;
            position: absolute;
            left: -300px;
            z-index: 1;

            .container_c2b141 {
                .closeButton_c2b141 {
                    @include boxes.clickable;
                    background: $grey;
                    margin-bottom: 8px;

                    &:hover {
                        color: $black;
                    }
                }

                &::after {
                    content: "Close";
                    color: $white;
                }

                .keybind_c2b141 {
                    display: none;
                }
            }
        }
    }
}
