@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.warning__6436f {
    @include boxes.box;
}

.marginTop60_fd297e {
    margin-top: 16px;
}

.defaultKeybindGroup__740f2 {
    margin: 16px 0 0;

    .defaultKeybindGroupHeader__740f2,
    .defaultKeybindGroupDescription__740f2 {
        margin-bottom: 8px;
    }
}

.defaultKeybind__740f2 {
    padding: 4px;
    height: 32px;
    @include boxes.inset;

    &:has(.combo_fcddc1:nth-child(2)) {
        height: 64px;
    }
}

.appMount__51fd7 .combo_fcddc1 {
    text-transform: capitalize;
    font-weight: unset;
    font-size: 14px;
    line-height: 16px;

    .key_fcddc1 {
        @include boxes.box;
        box-shadow: none;
        background: $darkgrey;
        color: $white;
    }
}
