@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Privacy and safety
.item__001a7 {
    @include boxes.clickable;
    margin: 0;

    &[aria-checked="true"] {
        @include boxes.inset;
    }

    .radioBar__001a7 {
        padding: 4px !important;
    }
}

.marginBottom40_fd297e {
    margin-bottom: 20px;
}
