@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Profiles
// Tabs
.tabBar_d6f9e9 {
    margin-top: 0;

    .brand_b3f026.item_b3f026 {
        @include boxes.clickable;
        padding: 4px;
        margin: 0;

        &:active,
        &:hover,
        &.selected_b3f026 {
            border-bottom-color: $darkblue;
        }

        &.selected_b3f026 {
            @include boxes.inset;
        }
    }
}

// Remove section dividers
.customizationSection_ace4f5 {
    border-bottom: 0;
    margin-bottom: 0;
}

// Banner colour picker
.colorSwatch__2d060 {
    @include boxes.inset;
}

// Bio typing area
.channelTextArea__74017 {
    @include boxes.inset;

    .slateTextArea_ec4baf {
        // maybe risky to other textboxes, doublecheck
        padding: 4px !important;
    }
}

// Emoji picker button
.webkit__8d35a .buttons__74017 {
    margin-right: 0;
}

// Characters left
.characterCount__795fb {
    right: 24px;
    bottom: 0;
}

// Profile preview
.userPopoutOuter_c69a7b {
    @include boxes.box;

    .userPopoutOverlayBackground_c69a7b {
        @include boxes.inset;
    }

    .profileBadges_f89da9.containerWithContent_b64375 {
        @include boxes.box;
    }

    .avatarUploaderInner_ab876d {
        @include boxes.box;
    }
}

// Nitro upsell lol
.premiumFeatureBorder__65c15,
.premiumBackground__65c15 {
    background: none;
}

// Server nickname
.inputWrapper__0f084 {
    @include boxes.inset;
    background: $bg;

    .input__0f084 {
        padding: 0 4px;
        height: 24px;
        color: $text;
    }
}
