@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#game-activity-tab {
    .gameName_cc46f0 {
        color: $black;
    }

    .lastPlayed_cc46f0,
    .overlayStatusText__668e1 {
        color: $darkgrey;
    }

    .activeGame_cc46f0 {
        @include boxes.box;
    }

    .nowPlayingAdd_cc46f0 {
        color: $black;
    }

    .card_b846e5 {
        @include boxes.box;
        padding: 8px;

        .gameNameInput_cc46f0 {
            &:focus,
            &:hover {
                background: $white;
                @include boxes.inset;
            }
        }

        .overlayToggleIcon-1WRcQ9 {
            @include boxes.clickable;

            .overlayToggleIconOn-21NN2N .fill_cc46f0 {
                fill: $darkgrey;
            }

            .overlayToggleIconOff-ps4gGp rect {
                fill: var(--status-danger);
            }
        }

        .flowerStar__3e3b0 path {
            fill: $darkblue;
        }
    }

    .removeGame_cc46f0 {
        @include boxes.clickable($position: absolute);
        right: -12px;
        background-color: $grey;
        z-index: 1;
    }
}

// Technically a popover
.animatorBottom_faf9c0 .addGamePopout_cc46f0 {
    background: $grey;
    @include boxes.box;

    .actions_cc46f0 {
        margin-top: 8px;
    }
}
