@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.sectionAccountCredit_e70817,
.subscriptionDetails_e70817 {
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: 0;
}

.card__73069 {
    @include boxes.inset;
    padding: 16px;

    .noItemsIcon_e335a7,
    .noItemsIcon__70151 {
        background: transparent;
    }

    .cardText_e335a7,
    .cardText__70151 {
        color: $black;
    }
}
