@use "../top/vars" as *;
@use "../top/boxes" as boxes;

:is(
    .button_d5f3cd,
    .welcomeCTAButtonOuter_f5d1e2,
    .friendRequestsButton__523aa,
    .button__292b6,
    .lookFilled__201d5,
    .lookOutlined__201d5,
    .lookInverted_a299dc
) {
    @include boxes.clickable;
}

:is(.theme-dark, .theme-light) {
    .lookLink__201d5.colorPrimary__201d5 {
        color: $black;

        &:hover .contents__201d5 {
            --button--underline-color: #{$black};
        }
    }
}

.appMount__51fd7 .lookFilled__201d5 {
    &:is(.colorBrand__201d5, .colorBrand__201d5:disabled, .colorBrand__201d5[aria-disabled="true"], .colorBrandNew__8872c) {
        color: $black;
        background: $lightgrey;

        &:hover,
        &:active {
            background: $lightgrey;
        }
    }

    &:is(.colorPrimary__201d5, .colorTransparent__201d5) {
        color: $black;
    }
}
