@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Create (group) DM

.header__49fc1 {
    .subtitle_cba592 {
        color: $black;
    }

    .searchBarComponent_cba592 {
        @include boxes.inset;
        background: $bg;

        .inner_fea832 {
            overflow: hidden !important;
        }

        .input_fea832 {
            color: $text;
        }

        .tag_fea832 {
            @include boxes.clickable;
        }
    }
}

.scroller_cba592 {
    @include boxes.scroller;

    .friendWrapper_bbd192 {
        @include boxes.clickable;
        margin: 0;

        &[aria-selected="true"] {
            @include boxes.inset;
        }

        .friendSelected_bbd192 {
            background: unset;
        }
    }
}

.footer_cba592 {
    padding: 8px;
}
