@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Dropdowns
.popout__3f413 {
    @include boxes.inset;
    background: $bg;

    .option__3f413 {
        padding: 4px 8px;
        color: $text;

        .defaultColor__77578 {
            color: $text;
        }

        .icon__34dc7 {
            opacity: 1;
        }

        &[aria-selected="true"]:not(.option__3f413.multi__3f413) {
            background: $lightgrey;
        }

        .content__3f413 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .selectedIcon__3f413 {
            color: $darkblue;
        }
    }
}
