@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Inbox
.recentMentionsPopout__95796 {
    @include boxes.box;
    max-height: calc(100vh - $window-top - 120px) !important;

    // Header
    .header_ab6641.expanded_f0cd33 {
        padding: 6px;
        padding-bottom: 0;

        .inboxIcon_ab6641,
        .base__5ed84 {
            color: $black;
            background: transparent !important;
        }

        .topPill_b3f026 {
            position: relative;
            top: 17px;

            .tab_ab6641 {
                @include boxes.tab;
                margin-right: 0;

                &:first-child {
                    border-left-color: $black;
                }
            }
        }
    }

    // Messages
    :is(.scroller__2692d, .messagesPopout__45690, .container__0f711) {
        .tertiary_ad6d80 {
            @include boxes.clickable;

            &:hover {
                background: $grey;
            }
        }

        .markReadButton__427f0 {
            margin-left: 0;
        }

        :is(.messageContainer__95796, .messages__1ccd1) {
            @include boxes.inset;
            background: $bg;

            // Jump button
            :is(.jumpButton_aab0bc, .jumpButton_ed0c8c) {
                @include boxes.clickable($position: absolute);
            }
        }
    }
}
