@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Small menus
.menu_c1e9c4 {
    background: $grey;
    box-shadow: none;
    @include boxes.box;

    &::before {
        display: none;
    }

    .scroller_c1e9c4 {
        padding: 0;
    }

    // Menu options
    .colorDefault_c1e9c4.focused_c1e9c4,
    .colorDefault_c1e9c4:active:not(.hideInteraction_c1e9c4) {
        background: $darkblue;
        color: $white;
    }

    // Blue options
    .colorBrand_c1e9c4 {
        color: $blue;
    }

    .submenuPaddingContainer_c1e9c4 {
        padding: 0;
        margin: 0 -4px;
        background: $grey;
    }

    // Group labels
    .groupLabel_c1e9c4 {
        text-transform: none;
    }

    // Checkbox
    .icon_c1e9c4:has(:is(.checkbox_c1e9c4, path[d^="M12 20C16.4183"]), path[d^="M18.625 3"]) {
        @include boxes.inset;
        background: $white;
        width: 12px;
        height: 12px;

        // Checkbox
        .checkbox_c1e9c4,
        path[d^="M18.625 3"] {
            display: none;
        }

        .check_c1e9c4 {
            color: $black;
        }

        // Radio button
        &:has(path[d^="M12 20C16.4183"]) {
            border-radius: 50%;
        }

        path[d^="M12 20C16.4183"] {
            display: none;
        }

        // Inner circle
        .radioSelection_c1e9c4 {
            color: $black;
        }
    }

    .colorDefault_c1e9c4.focused_c1e9c4 .caret_c1e9c4,
    .colorDefault_c1e9c4.focused_c1e9c4 .checkbox_c1e9c4,
    .colorDefault_c1e9c4.focused_c1e9c4 .radioSelection_c1e9c4 {
        color: $black;
    }

    // Slider
    .mini_a562c8 {
        .bar_a562c8 {
            height: 4px;
        }

        .grabber_a562c8 {
            height: 16px;
            width: 10px;
        }
    }

    // Quick reacts
    .button_f563df {
        @include boxes.clickable;
        padding: 0;
        margin-top: 4px;
    }
}
