@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// See more tags creating forum post with narrow screen
.container__3dde2 {
    @include boxes.box;

    .searchWithScrollbar__97e86 {
        @include boxes.inset;
        background: $bg;

        .input__48d49 {
            color: $text;
        }
    }

    .list__97e86 {
        @include boxes.scroller;
        margin: 1px;
        padding: 0;

        .item__97e86 {
            @include boxes.clickable;
            margin: 0;

            &.selected__97e86 {
                @include boxes.inset;
            }
        }
    }
}
