@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Pinned messages
.messagesPopoutWrap__45690 {
    @include boxes.box;

    .header__45690 {
        padding: 6px;
        box-shadow: none;
    }

    .messageGroupWrapper__45690 {
        @include boxes.inset;
        background: $bg;

        .jumpButton__45690 {
            @include boxes.clickable;
        }
    }
}
