@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.picker__09f65 {
    @include boxes.box;
}

// Soundboard volume
.settingsClickArea__61424 {
    @include boxes.clickable;
    margin-left: 0;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Category list
.categoryList_a1e0e0 {
    @include boxes.box($position: absolute);
    top: 61px;

    .listItems_affa7e {
        inset: 6px !important;
    }
}

// Category icon
.category_a1e0e0 {
    @include boxes.clickable;
    margin-bottom: 0;
    height: 36px;
    box-sizing: border-box;
}

// Sounds panel
.wrapper_d852db {
    background: $bg;
}

// Category header
.sectionHeader__61424 {
    background: $grey;
    @include boxes.box;
    inset: -8px 0 0 -8px;
    padding: 8px;
    width: calc(100% - 8px);
    margin-bottom: 0;
}

// Button arrangement
.soundRow__61424 {
    gap: 0;

    &:not(:has(+ .sectionHeader__61424)) {
        margin-bottom: 0;
    }
}

// Sound
.soundButton__6d4ed {
    @include boxes.clickable;
}
