@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Threads
.browser_d98031 {
    @include boxes.box;

    .header_d9c882 {
        .divider_d9c882,
        .spacer_d9c882 {
            display: none;
        }

        .searchBox_d9c882 {
            @include boxes.inset;
            background: $bg;

            .input__48d49 {
                color: $text;
            }

            .iconLayout__67261 {
                @include boxes.clickable;
                background: $grey;
            }
        }

        .createButton_d9c882 {
            height: 26px;
        }

        .closeIcon_d9c882 {
            @include boxes.clickable;
            height: 24px;
        }

        .searchBox_d9c882,
        .createButton_d9c882 {
            margin-right: 0;
        }
    }

    .container__6764b {
        @include boxes.clickable;
    }

    .jump__5126c {
        @include boxes.clickable($position: absolute);
    }
}
