@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// User profiles
.userProfileOuter_c69a7b {
    @include boxes.box;
    --bg-surface-overlay: #{$grey};

    &.userProfileOuterThemed_c69a7b {
        &.theme-dark {
            --interactive-active: #{$white};
            --interactive-hover: #{$white};
            --interactive-normal: #{$lightgrey};
            --header-primary: #{$grey};
            --header-secondary: #{$grey};
            --text-normal: #{$lightgrey};

            .color_f9d37d.banner_fb7f94 {
                color: #{$white};
            }
        }
    }

    .userProfileInner_c69a7b {
        // Avatar
        .avatarWrapper_f89da9 {
            @include boxes.clickable($position: absolute);
        }

        // Profile badges (old profile)
        .profileBadges_f89da9 {
            gap: 0;
            padding: 0;
            .anchor_edefb8 {
                @include boxes.clickable;
                padding: 2px;
            }
        }

        // Profile badges (new profile)
        .container__8061a {
            @include boxes.box;
        }

        .color_f9d37d.banner_fb7f94 {
            background: none;
        }

        // Inner box
        .userPopoutOverlayBackground_c69a7b {
            @include boxes.box;
        }

        // Divider
        .divider_e6f9ab {
            background-color: transparent;
        }

        // About me
        .scroller_d2b491 {
            @include boxes.inset;
        }

        code,
        .blockquoteDivider__75297 {
            background: $darkgrey;
        }

        // Roles
        :is(.role_dfa8b6, .showMoreButton_c83b44) {
            @include boxes.box;
            margin-right: 0;
        }

        // Note
        .note_c90ad7 {
            @include boxes.inset;
            background: $bg;

            textarea {
                color: $text;
            }
        }

        // Activity buttons
        .vertical__65bb6 > :not(:first-child) {
            margin-top: 0;
        }
    }
}
