@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// VC emoji picker
.container__0800c {
    @include boxes.box;

    .categoryList_c0e32c {
        top: 52px;
    }

    .slotsContainer__0800c {
        @include boxes.box;
        padding: 4px;
        width: auto;

        .slotsWide__0800c {
            gap: 8px;
        }

        .slot__0800c {
            @include boxes.clickable;
            padding: 4px;
        }

        // Do not popout with hover
        .contents__201d5 > div {
            transform: none !important;
        }
    }
}

// VC activity picker
.container__9fa5a {
    @include boxes.box;

    // Activity
    .activityItem_13_11__8a940 {
        @include boxes.clickable;
        transform: none !important;
    }

    // No animation
    .wumpusRocketOuterContainer__9fa5a {
        display: none;
    }
}
