@use "../top/vars" as *;
@use "../top/boxes" as boxes;

.baseLayer__960e4.stop-animations {
    opacity: 1 !important;
    transform: scale(1) !important;

    .container_c48ade {
        filter: grayscale(0.8) brightness(0.5);
        backdrop-filter: brightness(1);
    }
}

.layers__960e4 > .layer__960e4 .animating__960e4 {
    transform: none !important;
}

.layer__960e4 {
    background: transparent;
}

.pictureInPictureWindow__6341f {
    overflow: visible;
    border-radius: 0;

    &::before {
        left: -2px;
    }
}
