@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Chat box
.channelTextArea_f75fb0 {
    @include boxes.inset;

    // Buttons
    .buttonContainer__74017,
    .attachButton__0923f,
    .buttonContainer_aa63ab {
        @include boxes.clickable;
        background: $grey;
    }
    @at-root .has-webkit-scrollbar .buttons__74017 {
        margin-right: 0;
    }

    .separator_aa63ab {
        margin-left: unset;

        &::before {
            display: none;
        }

        .innerButton_aa63ab {
            margin: 6px;
        }

        .button_aa63ab:focus-within .activeButtonChild_aa63ab,
        .button_aa63ab:focus .activeButtonChild_aa63ab,
        .button_aa63ab:hover .activeButtonChild_aa63ab,
        .button_aa63ab .activeButtonChild_aa63ab {
            color: var(--text-brand);
        }
    }

    // Attachment area divider
    .divider__908e2 {
        display: none;
    }

    // Attachments
    .channelAttachmentArea_b77158 {
        padding: 4px;
        margin: 0;
        gap: 4px;

        .upload_aa605f {
            padding: 0;
        }

        // Attachment preview
        .uploadContainer_aa605f {
            @include boxes.box;
            flex-direction: column-reverse;
        }

        // Attachment controls
        .actionBar_aa605f {
            transform: none;
            right: 4px;
            top: 4px;

            .wrapper_f7ecac {
                height: 17px;
            }

            .button_f7ecac {
                @include boxes.clickable;
                height: 16px;
                width: 16px;
                padding: 0;
                min-width: unset;
            }
        }

        // Filename
        .filenameContainer__41ea0 {
            @include boxes.winBar($text: "");
            margin-top: 0;

            .filename__41ea0 {
                margin-top: 0;
                color: $grey;
            }
        }

        // Attachment image
        .mediaContainer__41ea0 {
            margin: auto 0;
        }

        .icon__41ea0.code__41ea0 {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAx0lEQVRYR+1XWxaEIAiVnbkzdWe6MicK54xHezDxkYk/ESGP6yUPYNqVSQXLU1JGf82qlN777JwzIYTVUFpe/KPbKub3pQQHAJPzVriUjAVh8BijsdZWSTwvgd453dWllNbKLyFwN1hv/3gJIPl6q5Cz205E3t+9xX4OBI64Mx4C0p0wHgL/dIFyQBSBvSPgkvN9PyJFQBGYBwFupWf27MtI7wJF4IxU3O+XSIhOcT6k2Y0b49B+bypqJlXyUkZy0STIWTNwfABE/48wR04ubgAAAABJRU5ErkJggg==")
                center no-repeat;
        }
    }

    // Typing area
    .slateTextArea_ec4baf {
        padding-left: 10px;
    }

    // Autocomplete
    .autocomplete__13533 {
        @include boxes.box($position: absolute);
        bottom: calc(100% + 17px);
        left: -1px;
        right: -1px;
        box-shadow: none;
        background: $grey;

        &,
        &::before {
            border-bottom-color: $grey;
        }

        .scroller__6b0e0 {
            padding-bottom: 1px;
        }

        // Entry
        .autocompleteRow__13533 .base__13533 {
            @include boxes.clickable;
        }

        .autocompleteRow__13533[aria-selected="true"] .base__13533 {
            @include boxes.inset;
        }

        // Divider
        .divider__13533 {
            display: none;
        }

        // Members matching title
        .contentTitle__13533 strong {
            color: $black;
        }

        // Bot list
        .rail_d1405b {
            @include boxes.box;
            margin-bottom: 0;
            width: 48px;

            &::before {
                border-bottom: 0;
            }

            .listItems_affa7e {
                inset: 7px !important;
            }

            .section_b1e4f3 {
                margin-bottom: 0;
            }

            .selectable_ca5f52,
            .selectable__1a58a {
                @include boxes.clickable;
            }

            .builtInSeparator_b1e4f3 {
                display: none;
            }
        }

        // Bot command group
        .categoryHeader_d1405b {
            background: $grey;
            z-index: 2;
            border-bottom: 1px solid $darkgrey;
        }

        // Command required args
        .option_a19535 {
            @include boxes.thin;
            background: $grey;
        }

        // Command optional args
        .optionals__920ab {
            @include boxes.thin;
            padding: 0 4px;
            .optionalCount__920ab {
                padding: 0;
            }
        }
    }
}

// Under chat box
.base_b88801 {
    // Slowmode
    .cooldownWrapper_b21699 {
        color: $black !important;
    }
}
