@use "../top/vars" as *;
@use "../top/boxes" as boxes;
@use "../top/channellist-css" as channels;
@use "../top/msgPill" as msg;

// Channels sidebar
.sidebar_c48ade {
    @include channels.vars;
    @include boxes.box($position: absolute);
    bottom: 0;
    max-height: 60vh;

    &::after {
        content: var(--w9x-start-text, "Windows95");
        display: block;
        position: absolute;
        width: 28px;
        height: 100%;
        $textPad: 10px;
        top: -$textPad;
        padding-top: $textPad;
        background: $darkgrey;
        font-size: 1.6rem;
        font-family: "Franklin Gothic Bold", "Arial Narrow", Arial, sans-serif;
        font-weight: 900;
        color: var(--background-secondary);
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    // Server channels
    .container__2637a,
    // DMs
    .privateChannels__35e86 {
        padding-left: 28px;
    }
}

// Header
:not(.bannerVisible_f37cb1) > .header_f37cb1 {
    @include boxes.clickable;
    box-shadow: none;
}

.clickable_f37cb1 .header_f37cb1:hover,
.selected_f37cb1 .header_f37cb1 {
    background: unset;
}

// Find or start a conversation
.searchBar__35e86 .searchBarComponent__35e86 {
    @include boxes.clickable;
    color: $black;
}

// Unread DM message
.highlighted__20a53 {
    @include msg.unreadPill($size: 8px);
    color: $black;

    :is(.interactive_bf202d:focus-within, .interactive_bf202d:hover) & {
        color: $white;
    }
}

// Public server indicator
.communityInfoPill_f37cb1 {
    @include boxes.box;
    z-index: 1;
}

// Boost goal
.container_eff079 {
    margin: 2px;

    .goalText_eff079 {
        color: var(--channels-default) !important;
    }

    .progressBarContainer_eff079 {
        @include boxes.inset;
    }

    .divider__0c76f {
        display: none;
    }
}

.sectionDivider__629e4 {
    display: none;
}

// Channel group
.wrapper__29444:is(.muted__29444:hover, :hover) :is(.icon__29444, .name__29444),
.privateChannelsHeaderContainer__99e7c:hover :is(.headerText__99e7c, .privateChannelRecipientsInviteButtonIcon__99e7c) {
    color: var(--channels-default);
}

// Add channel button
.addButton__29444 {
    width: 20px;
    height: 20px;

    .addButtonIcon__29444:hover {
        color: var(--channels-default);
    }
}

// Channel
.container_b15955,
.wrapper__2ea32 {
    margin-left: 0;
}

// Channel actions
.children__2ea32 {
    margin-top: 2px;
}
.iconItem_c69b6d {
    margin-left: 0;

    .actionIcon_c69b6d {
        @include boxes.clickable;
        background: var(--background-secondary);
    }

    &:hover .actionIcon_c69b6d {
        color: var(--channels-default);
    }

    &.openChatIconItem-2kj5qO {
        padding-right: 0;
    }
}

// Show all VC button
.voiceChannelsButton__29444 {
    @include boxes.clickable;
    color: var(--channels-default);
}

// Unread bubble
.unreadImportant__2ea32 {
    background: var(--channels-default);
    z-index: 1;
    left: 0;
}

// Channels: black on none bg
:is(
    .modeConnected__2ea32,
    .modeUnreadImportant__2ea32:not(:hover),
    .notInteractive__2ea32.modeConnected__2ea32,
    .notInteractive__2ea32.modeSelected__2ea32
) {
    .name__2ea32 {
        color: var(--channels-default);
    }
}

// Muted channels: grey on none bg
.modeMuted__2ea32 .icon__2ea32,
.modeMuted__2ea32 .name__2ea32 {
    color: $darkgrey;
}

// Hovered and selected channels: white on navy bg
:is(.modeMuted__2ea32:hover, .wrapper__2ea32:hover, .modeConnected__2ea32:hover, .modeSelected__2ea32, .modeSelected__2ea32:hover) {
    :is(.icon__2ea32, .name__2ea32) {
        color: var(--interactive-hover);
    }

    .unreadImportant__2ea32 {
        background: var(--interactive-hover);
    }
}

// Voice user
.voiceUser__07f91:is(:hover, :active) {
    :is(.username__07f91, .icon__07f91) {
        color: var(--interactive-hover);
    }
}

.usernameSpeaking__07f91 {
    color: var(--channels-default);
}

// Drag voice user
.containerUserOver_c69b6d::after {
    background: $darkblue;
    opacity: 0.3;
    border-color: $darkblue;
    left: 0;
}

// Drag channel before
// Drag channel after
.containerDragBefore_c69b6d::before,
.containerDragAfter_c69b6d::after {
    background: $darkblue;
    left: 0;
}
