@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Tabs
.tabBar__0b563 {
    margin: 0 16px;
    border-bottom: 0;

    .tabBarItem__0b563 {
        padding-bottom: 8px;
    }
}

// Customise
.appMount__51fd7 .scrollerContainer_c6b11b {
    background: $bg;
    @include boxes.inset;
}

.pageBody__5d7c9 h2 {
    color: $text !important;
}

.prompt__5d7c9 {
    background: $bg;
    border-color: unset !important;
    padding: 0;
}

.promptOptions__5d7c9 {
    gap: 0;
}

.optionButtonWrapper__270d7 {
    background: $grey;
    @include boxes.clickable;

    &:hover {
        border-color: $white $black $black $white;
    }

    &:active {
        border-color: $black $white $white $black;
    }

    &.pressed__270d7 {
        transform: none;
    }

    &.selected__270d7 {
        @include boxes.inset;

        .checkIcon__270d7 {
            top: 4px;
            right: 4px;
        }
    }
}

.helpText__5d7c9 {
    .text-xs-medium__220aa {
        color: $text !important;
    }
}

// Browse channels
.pageBody__41ed7 {
    padding-left: 0;
}

.browser__41ed7 {
    background: $bg;
    @include boxes.scroller;
}

.selectAll_e4503a .checkboxWrapper_f525d3 .checkbox_f525d3 {
    border-color: var(--text-muted) !important;

    &.checked_f525d3 path {
        fill: var(--text-muted);
    }
}
