@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Channel header
.forumOrHome__49676 {
    --__header-bar-background: #{$grey};
}

// Tags
.pill_a2c9e8 {
    @include boxes.clickable;
    background: $grey;
    &.selected_a2c9e8 {
        @include boxes.inset;
    }
}

// Main container
.container_f369db {
    @include boxes.inset;
    background: $bg;

    --bg-mod-faint: none;
    --bg-mod-strong: none;
    --bg-mod-subtle: none;

    // Post tags
    @at-root .tags__08166 {
        gap: 0;

        & > :is(.pinIcon__08166, .tagPill__9a337) {
            @include boxes.box;
            background: $grey;

            path {
                fill: $black;
            }
        }
    }

    // New post bubble
    @at-root .newPostsButton_f369db {
        z-index: 2;
    }

    // Wrapper around everything
    .content__99f8c {
        padding-left: 24px;
        padding-right: 24px;

        // Wrapper around post editor and tag filter bar (gallery mode)
        & > div:first-child:not([role="grid"]) {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;

            .headerRow_f369db {
                left: 0 !important;
                width: inherit !important;
            }
        }

        // Wrapper around post cards
        & > [role="grid"] {
            left: -16px !important;
        }

        // Tag area in text posts
        .textContentFooter__9a337 {
            background: transparent;
        }
    }

    // Everything but post cards
    .headerRow_f369db {
        padding: 0;
        background: $grey;

        // Filter by tags bar
        .tagsContainer_f369db {
            @include boxes.box;
            background: $grey;
            padding: 2px 12px;

            // Sort and view dropdown
            .sortDropdown_f369db {
                margin-bottom: 0;
                &[aria-expanded="true"] {
                    @include boxes.inset;
                }
            }

            .divider_f369db {
                display: none;
            }

            .tagListInner_f369db {
                gap: 0;
            }
        }

        // Matching post count bar
        .matchingPostsRow_f369db {
            @include boxes.box;
        }

        // Search/create posts bar
        .mainCard_f369db {
            margin-top: 0;
            @include boxes.box;

            // Search button and guidelines button
            :is(.prefixElement_d9be46, .guidelinesButton_d7afe7) {
                @include boxes.clickable;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                height: 30px;
                width: 30px;

                // Close button
                div {
                    height: 24px;
                    width: 24px;
                }
            }

            // Post message
            .contentContainer_d9be46 {
                padding-left: 32px;

                div {
                    background: $bg;

                    .channelTextArea__74017 {
                        width: auto;
                    }
                }
            }

            // Post attachments
            .container__94439 {
                align-self: flex-end;

                .uploadInput__94439 {
                    @include boxes.clickable;
                    height: 76px;
                    width: 76px;
                }

                // Attachment not image type
                .icon__41ea0 {
                    @include boxes.box;
                }

                // Attachment is image type
                .mediaContainer__41ea0 > div:not([aria-expanded="false"]),
                .mediaContainer__41ea0 > div:not([aria-expanded="false"]) > div {
                    max-height: 76px;
                    max-width: 76px;

                    .imageSmall__41ea0 {
                        height: 76px;
                    }
                }

                // Number of attachments
                .badge__94439 {
                    z-index: 1;
                    background: $darkblue;
                }

                // Attachments popout
                .popoutContainer__94439 {
                    z-index: 1;
                    @include boxes.box($position: absolute);
                    padding: 0;
                    top: -8px;
                    right: -8px;

                    // Scroller
                    .popout__94439 {
                        padding-bottom: 0;

                        &::-webkit-scrollbar-track,
                        &::-webkit-scrollbar-thumb,
                        &::-webkit-scrollbar-button {
                            visibility: hidden;
                        }

                        // Attachment controls
                        .actionBarContainer_aa605f {
                            z-index: 2;
                        }
                    }
                }
            }

            // Create post button
            .submitButton_d9be46 {
                height: 30px;
            }

            // Divider
            .tagsDivider_d9be46 {
                display: none;
            }

            // Post tags
            .tagsContainer_d9be46 {
                margin-left: 8px;
                margin-top: 0px;
                .tagListInner_d9be46 {
                    gap: 0;
                }
            }

            // Post bar
            .controlsContainer_d9be46 {
                justify-content: flex-start;
                gap: 0;
                margin-top: 0;

                // Add emoji button
                .expression-picker-chat-input-button {
                    @include boxes.clickable;
                    justify-content: center;
                    height: 30px;
                    width: 30px;
                }

                .controls_d9be46 {
                    flex-grow: initial;
                    gap: 0;

                    // Slowmode warning
                    .wrappedControls_d9be46 {
                        order: 1;
                        padding-left: 4px;
                    }
                }
            }
        }
    }
}

// Post card
li.card_f369db {
    padding: 0;
    margin: 8px;
    @include boxes.clickable;
    background: $grey;
}

:is(.container_faa96b, .container__9a337) {
    .markup__75297 {
        color: var(--text-normal);
    }

    &:is(:hover, :active) {
        box-shadow: none;
        transform: none;
    }

    &:not(.isOpen_faa96b, .isOpen__9a337) {
        &:is(:hover, :active) {
            background: $grey;
        }
        &:hover {
            border-color: $white $black $black $white;
        }
        &:active {
            border-color: $black $white $white $black;
        }
    }

    &:is(.isOpen_faa96b, .isOpen__9a337) {
        @include boxes.inset;
    }

    // Post content preview
    .thumbnailContainer_faa96b,
    .contentPreview__9a337,
    .bodyMedia__9a337 {
        @include boxes.inset;
    }

    // Text content
    .contentPreview__9a337 {
        background: $bg;

        .markup__75297 {
            color: $text;
        }
    }
}

// Opened post
.scrollerInner__36d07 {
    overflow: unset;

    // Post alert options bar
    .container__34c2c {
        @include boxes.box;
        position: sticky;
        top: 0;

        .buttons__34c2c {
            gap: 0;

            @at-root .addReactButton__34c2c,
                .buttonInner__34c2c {
                @include boxes.clickable;
                height: 20px;

                &:has(path[d^="M8.99991 16.17"]) {
                    @include boxes.inset;
                }
            }
        }
    }
}

// OP post and post replies divider
.divider_ee23ac {
    display: none;
}
