@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Titlebar
.children__9293f {
    overflow: visible;

    .topPill_b3f026 {
        position: relative;
        top: 12px;
        left: 10px;

        .item_b3f026 {
            @include boxes.tab;
            margin: 0;

            &.selected_b3f026 {
                text-decoration: underline;
            }
        }
    }
}

// Online / All / Pending / Blocked / Add Friend
.peopleColumn__133bf {
    @include boxes.inset;

    .searchBar__5ec2f {
        @include boxes.inset;
        background: $bg;
        color: $text;
        margin: 8px 8px 0;

        .input__48d49 {
            color: $text;
        }

        .iconContainer__4d295 {
            @include boxes.clickable;
            background: $grey;
            padding: 2px;
        }
    }

    .title__1472a {
        margin: 8px 12px 4px;
    }

    .peopleList__5ec2f {
        margin: 0 8px 8px;
        padding-bottom: 0;
        @include boxes.inset;

        .peopleListItem_cc6179 {
            margin: 0;
            padding: 8px;
            @include boxes.clickable;

            .actionButton_f8fa06 {
                @include boxes.clickable;
                height: 24px;
                width: 24px;
                // Hide redundant message button
                &:first-child {
                    display: none;
                }
            }
        }
    }

    .header__94b08 {
        border-bottom: 0;
    }

    .header__94b08,
    .header_a14595 {
        padding: 8px;
    }

    // Other places to make friends
    .grid_a14595 {
        padding: 0 8px;
        gap: 8px;

        .container_a14595 {
            @include boxes.clickable;
        }
    }

    // Add friend
    .addFriendInputWrapper__72ba7 {
        padding: 0;

        .addFriendInput__72ba7 {
            margin-right: 0;
        }
    }
}

// Friend activity
.nowPlayingColumn__133bf {
    .scroller__7d20c {
        @include boxes.scroller;
        padding: 0 !important;

        .header__7d20c {
            position: sticky;
            top: 0;
            margin: 0 0 8px;
            padding: 12px 8px 8px;
            background: $grey;
            border-bottom: 1px solid $darkgrey;
            z-index: 2;
        }

        .itemCard__7e549 {
            @include boxes.clickable;
            margin: 0 8px;
            padding: 12px;

            &:hover {
                background: $grey;
            }

            .body__00943 {
                @include boxes.inset;
            }
        }
    }
}

// Message requests
.list_f391e3 {
    @include boxes.scroller;
    padding: 8px !important;

    .content__99f8c > div:first-child {
        display: none;
    }

    // Title
    .container_cc72c1 {
        color: $black;
        text-transform: none;
        margin-bottom: 8px;
    }

    .messageRequestItem_abb9ad {
        @include boxes.clickable;

        .messageContent_c19a55 {
            color: $black;
        }
    }
}

// If empty
.content_f75fb0:has(.emptyStateContainer__65428) {
    @include boxes.inset;
}
