@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Header bars
:is(
    .container__133bf .container__9293f,
    .container__808a1 .container__9293f,
    .pageWrapper_a3a4ce .scroller_a3a4ce,
    .scroller_a39aa3 .viewWrapper_a39aa3,
    .applicationStore_f07d62 .homeWrapper__0920e,
    .container__01ae2:not(.floating__01ae2) .container__9293f:not(.wrapper_cb9592 .container__9293f),
    .chat_f75fb0 .container__9293f:not(.wrapper_cb9592 .container__9293f)
) {
    margin-top: $title-height;
    z-index: 0;

    .divider__9293f {
        display: none;
    }
}

// End of description shadow
.appMount__51fd7 :is(.innerHeader__0b563, .headerBarInner__7449f)::after {
    background: linear-gradient(180deg, transparent, $grey);
}

// Tools
.toolbar__9293f {
    .search__49676 {
        @include boxes.inset;
        margin: 0;

        .searchBar__97492 {
            height: 30px;
            align-items: center;
            background: $bg;
            color: $text;

            .DraftEditor-root {
                padding-top: 5px;
            }

            // Search button
            .icon__97492 {
                @include boxes.clickable;
                background: $grey;

                .icon_fea832 {
                    color: $black;
                }
            }

            // Filters
            .searchFilter_bd8186,
            .searchAnswer_bd8186 {
                @include boxes.box;
                background: $grey;
                color: $black;
            }
        }
    }

    // Buttons
    .videoControls_bfe55a
        &
        .iconWrapper__9293f.clickable__9293f:is(.anchor_edefb8 .iconWrapper__9293f:only-of-type, :has([d^="M14 8.00598"])),
    .iconWrapper__9293f.clickable__9293f:not(.anchor_edefb8 .iconWrapper__9293f:only-of-type, :has([d^="M14 8.00598"])) {
        @include boxes.clickable;
        margin: 0;
        height: 32px;
        min-width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .count__03d4d {
            margin: 4px;
        }
    }
}

// Under header bar
.content_f75fb0::before {
    display: none;
}
