@use "../top/vars" as *;
@use "../top/boxes" as boxes;
@use "../top/channellist-css" as channels;

// Members list
.container_c8ffbb {
    @include channels.vars;
    @include boxes.box;
    @include boxes.winBar($isPseudo: true, $text: "Members");
    position: fixed;
    right: 30px;
    top: 180px;
    height: 65vh;
    max-height: calc(100vh - 400px);
    background: var(--background-secondary);
    z-index: 1; // Elevates above double border
}

// Members list scroller
.members_c8ffbb {
    margin-top: $title-height;

    // Member
    .member__5d473 {
        margin-left: 4px;

        // Custom status or activity
        &:is(:hover, .selected__91a9d) .activityText__5d473 {
            color: var(--interactive-hover);
        }
    }
}
