@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Chat message display area
.messagesWrapper__36d07 {
    margin-bottom: 24px;
    @include boxes.inset;
    background: $bg;
}

// Placeholder messages
.wrapper__0d1ef,
.wrapper_fc8177 {
    background: $bg;
}

// Jump to present bar and other bottom bars
.barBase__0f481 {
    right: 18px;
    left: 0;
    padding-bottom: 0;
}

// With members list visible
.base_c48ade:has(.membersWrap_c8ffbb) {
    // VC video controls
    .bottomControls_bfe55a {
        width: auto;
        padding-right: 150px;
    }

    // Message
    .message__5126c {
        padding-right: 140px !important;

        // Message actions
        .container__040f0 {
            right: 130px;
        }
    }
}

// Message actions
.wrapper_f7ecac {
    height: auto;

    .button_f7ecac {
        @include boxes.clickable;
        padding: 0;

        &.disabled_f7ecac,
        &.disabled_f7ecac:hover {
            @include boxes.box;
            padding: 0;
        }
    }
}

// Text
.description__00de6,
.markup__75297,
.container__235ca,
.header__00de6,
.username_c19a55,
.repliedTextPlaceholder_c19a55,
.repliedTextPreview_c19a55.clickable_c19a55:hover,
.repliedMessage_c19a55,
.subtitle__54b20,
.markup__75297 code,
.codeBlockText_ada32f,
.codeLine_ada32f,
.operations_bab751,
.markup__75297 h1,
.markup__75297 h2,
.markup__75297 h3,
.markup__75297 h4,
.markup__75297 h5,
.markup__75297 h6 {
    color: $text;
}

// Eyebrow
.eyebrow_e5a66c,
.eyebrow_b717a1 {
    text-transform: none;
}

// Blockquote
.blockquoteDivider__75297 {
    background: $grey;
}

// Bullet point
.markup__75297 li {
    list-style-type: square;
}

// Attachments
.spoilerInnerContainer__54ab5,
.messageAttachment__5dae1 .wrapperAudio_f316dd,
.embedWrapper_b7e1cb.container__4d95d,
.fileWrapper__0ccae,
.gridContainer__623de,
.tile__72090,
.wrapper_d5f3cd,
.imageWrapper__178ee {
    @include boxes.box;
}

// Remove attachments
.embedSuppressButton__623de,
.embedSuppressButton__623de:hover {
    color: $text;
}

// Text attachments
.newMosaicStyle__4d95d .codeView__4d95d {
    margin: 0;
}

.textContainer__4d95d {
    @include boxes.inset;
    background: $bg;

    code {
        background: $bg;
        color: $text;
    }
}

.downloadButton__4d95d {
    @include boxes.clickable;
    padding: 0;
    margin-top: 5px;
    margin-left: 6px;
}

.codeIcon__4d95d {
    @include boxes.clickable;
    padding: 0;
}

// Central play pause video button
.iconWrapper__6eb54 {
    @include boxes.clickable;
    opacity: 1;
    background: $grey;
    color: $black;
}

// Download / delete / alt txt button
.hoverButton_be4802,
.mediaMosaicAltText__0f481 {
    @include boxes.clickable;

    &:active,
    &:hover,
    .keyboard-mode &:focus {
        background: $grey;
        color: $black;
    }
}

// Embed source site
.embedProvider__623de {
    color: var(--text-normal);
}

// Music and video controls
.audioControls_f316dd,
.videoControls_f316dd {
    background: $grey;
}

.audioControls_f316dd {
    @include boxes.box;
}

// Fullscreen button
.controlIcon_f1ceac,
.controlIcon_f1ceac:hover {
    color: $black;
}

.videoButton_f316dd {
    @include boxes.clickable;
}

.controlIcon_f316dd {
    opacity: 1;
}

.wrapper_f316dd {
    color: $black;
}

// Progress bar
.mediaBarWrapper_f7877e,
.mediaBarWrapper_f7877e::after,
.mediaBarWrapper_f7877e::before {
    background: $grey;
}

.mediaBarWrapper_f7877e {
    @include boxes.inset;
}

.mediaBarGrabber_f7877e,
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e::after,
.mediaBarProgress_f7877e::before {
    background: $darkblue;
}

.bubble_f7877e {
    z-index: 1;
}

// Volume control
.mediaBarInteractionVolume_f7877e {
    background: $grey;
    @include boxes.box;
}

// Reactions
.reaction__23977 {
    margin-right: 0;
    border: 0;
}

.reactionInner__23977 {
    @include boxes.box;
}

// Self reactions
.reaction__23977.reactionMe__23977 {
    background: $grey;
}

// Clicked reactions
.reactionMe__23977 .reactionInner__23977,
.reactionInner__23977:active {
    @include boxes.inset;

    .reactionCount__23977 {
        color: $black;
    }
}

// Hovered reactions
.reaction__23977:hover {
    .reactionCount__23977 {
        color: $black;
    }
}

// Add more reactions button
.reactionBtn__23977:is(:hover, :active) {
    .icon__23977 {
        color: $text;
    }
}

// Open thread button
.container__9271d {
    @include boxes.clickable;
}

// Links
.content__235ca a {
    color: var(--text-link);
}

// Channel/user mentions
.wrapper_d4fa29:is(.channelMention, .mention) {
    @include boxes.clickable;
}

// Hovered mentions
.interactive:hover {
    color: var(--mention-foreground);
    background: var(--mention-background);
}

// Spoiler text
.messageContent_c19a55 {
    .spoilerMarkdownContent__54ab5.hidden__54ab5 {
        @include boxes.box;
        background: $darkgrey;
    }

    .spoilerMarkdownContent__54ab5 {
        @include boxes.inset;
        background: $bg;
    }
}

// Code blocks
.markup__75297 code {
    @include boxes.box;
    background: $bg;
}

// Editors
.editor__1b31f {
    caret-color: $text;
}

// Polls
.container__0be77 {
    @include boxes.box;
    background: $grey;

    --control-brand-foreground: #{$black};

    // Option
    .answer__4c520 {
        @include boxes.box;

        &.enabled_f4f0eb {
            @include boxes.clickable;
        }

        &:is(.votedStyles_a1443c, [aria-checked="true"]) {
            @include boxes.inset;
        }

        // Inner
        .answerInner__4c520.currentlyVoting__4c520.selected__4c520 {
            outline: none;
        }
    }
}
