@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Search results
.searchResultsWrap_a9e706 {
    @include boxes.inset;
    margin: 0 2px 2px;

    .searchHeader_f3b986 {
        background: transparent;
        padding: 8px 28px 0 16px;
        height: 28px;

        // Tabs
        .searchHeaderTabList_f3b986 {
            gap: 0;

            // Tab
            .item_b3f026 {
                @include boxes.tab;
            }
        }
    }

    .scroller_a9e706 {
        @include boxes.box($position: static);
        margin: 0 8px 8px;

        &::before {
            display: none;
        }

        // Result
        .searchResult__02a39 {
            background: $bg;
            @include boxes.inset;
        }

        // Jump button
        .button__02a39 {
            @include boxes.clickable;
        }

        #search-results {
            margin-top: 40px;
        }

        // Navigation
        .container__3f123 {
            position: absolute;
            top: 29px;
            left: 9px;
            right: 27px;
            background: $grey;
            z-index: 1;
            border-bottom: 1px solid $black;

            .pageControlContainer_c15210 {
                margin-top: 0;
            }

            .pageControl_c15210 {
                // Buttons
                .pageButton_c15210 {
                    min-height: unset;
                    margin: 0;

                    &:disabled {
                        @include boxes.box;
                    }

                    &:not(:disabled) {
                        @include boxes.clickable;
                    }
                }
            }
        }
    }
}
