@use "../top/vars" as *;
@use "../top/boxes" as boxes;

.container__808a1 {
    background: $grey;

    .scroller__808a1 {
        @include boxes.scroller;
        background: $bg;
    }
}

.ctaTitle__7e486,
.ctaTitle__7e486 strong {
    color: $text;
}

.ctaSubtitle__7e486 {
    color: $text !important;
}

.roleMessagePreview__3efc4 {
    background: $bg;
}
