@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Voice chat
.wrapper_cb9592 {
    margin-top: 28px;
    z-index: 0;

    &.minimum_cb9592 {
        height: 204px;
    }

    .callContainer_cb9592 {
        background: $bg;
    }

    &:is(.sidebarOpen_cb9592, .fullScreen_cb9592, .noChat_cb9592) {
        height: calc(100% - 28px);
    }

    .voiceCallWrapper_a21736 {
        position: relative;
        padding: 0;
        top: -12px;

        // Avatars in DM VC
        .participant_c8dbe9 {
            margin: 0 4px;
        }

        .callAvatarMask_f910d0 {
            @include boxes.inset;
        }
    }

    .videoControls_bfe55a {
        padding: 0;

        // No tint
        .gradientContainer_bfe55a {
            background: none;
        }

        .controlSection_bfe55a {
            background: $grey;
            border: 0 solid $darkgrey;

            // Top bar
            &.topControls_bfe55a:not(.minimum_cb9592 .topControls_bfe55a) {
                border-bottom-width: 1px;
            }

            .headerWrapper_cb9592 {
                margin: 0;

                // Region selector
                & + .horizontal__7c0ba {
                    margin-right: 8px;
                    position: absolute;
                    right: 0;
                    .quickSelectClick_eec93f {
                        @include boxes.inset;
                        background: $bg;
                        color: $text;
                        height: 16px;
                        padding: 2px 4px 2px 0;
                    }
                }
            }

            .toolbar__9293f button {
                @include boxes.clickable;
                margin: 0;
                height: 32px;
                width: 32px;
                .controlIcon_f1ceac {
                    color: $black;
                }
            }

            // Bottom bar
            &.bottomControls_bfe55a {
                padding: 8px;
                width: auto;

                &:not(.minimum_cb9592 .bottomControls_bfe55a) {
                    border-top-width: 1px;
                }

                // Centre controls
                .wrapper__1405b {
                    .controlButton__1405b {
                        @include boxes.clickable;
                        margin: 0;

                        // Active unmute button
                        &:has(.white_f1ceac),
                        &.white_f1ceac {
                            @include boxes.inset;
                        }
                    }

                    // Set button colours
                    .colorable_f1ceac {
                        // Most buttons
                        &.primaryDark_f1ceac {
                            background: unset;
                            color: $black;

                            .centerIcon_f1ceac {
                                color: $black;
                            }
                        }

                        // Leave call button
                        &:is(.red_f1ceac, .red_f1ceac:hover) {
                            background: $red;
                        }

                        // Active buttons
                        &.white_f1ceac {
                            background: unset;
                        }
                    }

                    // Dropdown menu button in button
                    .contextMenuNub_f1ceac {
                        @include boxes.clickable($position: absolute);
                        left: 0;
                        width: auto;
                        height: 12px;
                        padding: 0;

                        &.active_f1ceac {
                            @include boxes.inset($position: absolute);
                        }
                    }
                }

                // Other buttons
                button:not(.wrapper__1405b button) {
                    @include boxes.clickable;
                    margin: 0;
                    height: 32px;
                    width: 32px;

                    .controlIcon_f1ceac {
                        color: $black;
                    }

                    &.buttonColor__7b3e8 {
                        padding: 0;
                        background: unset;
                        color: $black;
                    }
                }
            }
        }

        // Show chat button
        & ~ div:not(.erd_scroll_detection_container) button {
            @include boxes.clickable($position: absolute);
            height: 32px;
            width: 32px;
            top: 8px;

            .controlIcon_f1ceac {
                color: $black;
            }
        }
    }
}
