@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.modalContent_ced2f2:has(.decorationGridItem_dfa67d) {
    .list_dfa67d {
        @include boxes.scroller;
        left: 0;

        .content__99f8c > div {
            left: 0 !important;
        }
    }

    .decorationGridItem_dfa67d {
        @include boxes.clickable;

        &.selected-IxbpGM {
            @include boxes.inset;
            box-shadow: none;
        }
    }

    .wrapper__44b0c {
        @include boxes.box;

        .avatarDecoration__44b0c {
            z-index: 1;
        }
    }
}
