@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Edit / add phone number
.phoneVerificationModal_db41ea {
    .animationContainer_db41ea {
        z-index: 1;
    }

    .phoneField_a0c54f {
        @include boxes.inset;

        .plusSign_a0c54f,
        .countryCode_a0c54f {
            color: $black;
        }

        .phoneFieldExpand_a0c54f {
            stroke: $black;
        }

        .inputField_a0c54f {
            color: $text;
        }
    }
}

// Edit email address
.headerImage_a62824 {
    display: none;
}

// Edit username
.multiInput_b404ff {
    height: 24px;

    .inputPrefix__0f084 {
        display: none;
    }

    .questionMark-3V9mGJ {
        @include boxes.clickable;
        height: 22px;
        width: 22px;
        margin-right: 0;
        background: $grey;

        .icon-3JHfo7 {
            color: $black;
        }
    }
}
