@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Notification settings
.root__49fc1 {
    .override_db81c6,
    .overrideHighlight_db81c6,
    .guildName_db81c6,
    .channelName_db81c6 {
        color: $black;
    }

    .override_db81c6 {
        padding: 8px;

        .checkboxGroup_db81c6 {
            width: 300px;
            margin-right: -8px;
        }

        .removeOverride_db81c6 {
            z-index: 2;
            @include boxes.clickable($position: absolute);
            background-color: $grey;
            left: -10px;
        }
    }
}
