@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Report message

.header__527b1 {
    padding: 16px;
}

.messagePreviewContainer_f96002 {
    background: $bg;
    @include boxes.inset;
}

.childButton__3ed08 {
    @include boxes.clickable;
    margin-bottom: 0;
    min-height: auto;
}

.checkboxRow_d1f0f0 {
    @include boxes.clickable;
    padding: 4px;

    &:not(:last-child) {
        margin-bottom: 0;
    }
}
