@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.searchBar__67dba {
    @include boxes.inset;
    background: $bg;
    color: $text;

    .input__48d49 {
        color: $text;
    }

    .iconLayout__67261 {
        @include boxes.clickable;
        background: $grey;
    }
}

.scroller__67dba {
    @include boxes.inset;
    padding: 0;

    .inviteRow__67dba {
        .inviteRowName__67dba {
            color: $black;
        }

        &:hover {
            background: $darkblue;

            .inviteRowName__67dba,
            .contents__201d5 {
                color: $white;
            }
        }
    }
}

.layerContainer_da8173 .footer__67dba {
    background: $grey;

    .input__0f084 {
        height: 32px;
    }

    .copyButton_cedfaf {
        margin-right: 0;
    }

    .footerText__67dba {
        color: $black;
    }

    .inviteBannerUpsell-1t_LYM {
        @include boxes.inset;
    }
}
