@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Preview camera

.backgroundOptionsSmall__53965 {
    gap: 8px;
}

.backgroundOptionRing__53965 {
    border-color: $blue;
}

.backgroundOption__53965:hover:not(.backgroundOption__53965.backgroundOptionDisabled__53965):not(.backgroundOptionSelected__53965) {
    &,
    .backgroundImageOption__53965 {
        transform: none !important;
    }
}
