@forward "./serversettings/";
@forward "./usersettings/";

@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;
@use "../../top/shortcutIcon" as ico;
@use "../../top/channellist-css" as channels;

// Toggles
.control__0d850 {
    @include boxes.box;

    .container__87bf1 {
        background: $darkgrey !important;

        .slider__87bf1 {
            rect {
                fill: $lightgrey;
            }
            svg path {
                fill: $darkgrey;
            }
        }

        &.checked__87bf1 {
            background: $green !important;

            .slider__87bf1 {
                svg path {
                    fill: $green;
                }
            }
        }
    }
}

// Notices
.formNotice_f43ba5 {
    @include boxes.box;
}

// Sliders
.slider_a562c8 {
    // Slider bar
    .bar_a562c8 {
        @include boxes.inset;
        background: $grey;
        height: 8px;

        .barFill_a562c8 {
            background: transparent;
        }
    }

    // Slider handle
    .grabber_a562c8 {
        @include boxes.box;
        background: $grey;
        height: 20px;
        width: 10px;
        z-index: 1;

        &::before {
            background: $grey;
        }
    }

    // Slider marks
    .mark_a562c8 {
        &:not(.defaultValue_a562c8) .markValue_a562c8 {
            color: $black;
        }

        .markDash_a562c8 {
            background: $black;
            height: 6px;
            width: 1px;
            margin-top: 20px;
        }
    }
}

// Checkbox
.checkboxWrapper_f525d3 {
    .inputDefault_f525d3 {
        width: 20px !important;
        height: 20px !important;
    }

    .checkbox_f525d3 {
        width: 20px !important;
        height: 20px !important;
        border: 2px solid $black !important;
        background: transparent !important;

        path {
            d: path("M 3 3 V 21 H 21 V 3 Z");
        }

        &.checked_f525d3 path {
            fill: $black;
        }
    }
}

// Dropdown selectors
.lookFilled__3f413.select__3f413 {
    @include boxes.inset;
    padding: 0;

    .value__3f413 {
        padding-left: 8px;
        color: $text;
    }

    .icons__3f413 {
        background: $grey;
        @include boxes.box;
    }
}
